.error{
    color: red;
    font-size: 12px; }

body {
  font-family: Arial, sans-serif;
  padding: 13px; 
  background-color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  margin-bottom: 20px; 
  color: #ffffff;
  font-size: 24px;  
}

h2 {
  text-align: center;
  margin: 20px 0 13px 0; 
  color: #ffffff;
  font-size: 18px; 
}

#student-form {
  background: white;
  padding: 20px; 
  border-radius: 5px; 
  width: 100%;
  max-width: 333px; 
  margin: 0 auto;
}

#student-form div {
  margin-bottom: 13px; 
}

label {
  display: block;
  margin-bottom: 5px; 
  font-weight: bold;
  color: #555;
  font-size: 13px;
}

input {
  width: 95%; 
  padding: 8px 10px;
  border: 1px solid #000000; 
  border-radius: 4px; 
  font-size: 13px;
  transition: border-color 0.3s ease;
  height: 32px; 
  margin: 0 auto; 
  display: block;
}

input:focus {
  outline: none;
  border-color: #4CAF50;
}

button {
  width: 100%;
  padding: 9px; 
  background-color: #6d6d6d;
  color: white;
  border: none;
  border-radius: 4px; 
  font-size: 13px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  height: 33px; 
}

#students-list {
  width: 100%;
  max-width: 533px; 
  margin: 0 auto;
}
